<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="ViewPort" content="width=device-width,initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .border{
            margin: 0 2%;
        }
        .line{
            font-size: 14px;
            font-weight: bold;
            border-bottom: 2px solid #005cbf;
        }
        table td{
            border: 1px solid black;
        }
        table tr{
            border: 1px solid black;
        }
        table th{
            border: 1px solid black;
            text-align: center;
        }
        table {
            border: 1px solid black;
        }
    </style>
    <script>
        function uploadSelectMsg() {
            if($("#selectCourseMsg").serialize()==''){
                alert("您还没有选择课程！");
                return false;
            }
            $.ajax({
                url:"/student/selectCourse",
                type:"GET",
                async:false,
                data:$("#selectCourseMsg").serialize(),
                dataType:"text",
                success:function (data) {
                    var json=JSON.parse(data);
                    alert(json.message);
                }
            })
        }
    </script>
</head>
<body>
<div class="container">
    <div class="border line">上网选课(预选)</div>
        <form id="selectCourseMsg">
            <div style="width: 90%;height: 80%;position: absolute;left: 10%;right: 10%;top: 5%">
                <table style="position: absolute;left: 10%;text-align: center;">
                    <tbody id="tbody">
                    <tr>
                        <th width="100px" height="50px">&nbsp;</th>
                        <th width="150px" height="50px">课程id</th>
                        <th width="300px" height="50px">课程名称</th>
                        <th width="150px" height="50px">授课老师</th>
                        <th width="150px" height="50px">人数</th>
                    </tr>
                    <tr th:each="course:${session.courseVo}">
                        <td height="50px"><input type="radio" name="courseId" th:value="${course.id}"> </td>
                        <td height="50px" th:text="${course.id}"></td>
                        <td height="50px" th:text="${course.courseName}"></td>
                        <td height="50px" th:text="${course.teacherName}"></td>
                        <td height="50px" th:text="${course.peopleNum}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <input type="submit" class="btn btn-lg btn-info" value="提交" onclick="uploadSelectMsg()" style="position: absolute;top: 70%;left: 47%">
        </form>
</div>
</body>
</html>