<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="ViewPort" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="/templates/css/universal_style.css" rel="stylesheet"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .border{
            margin: 2 2%;
        }
        .line{
            font-size: 14px;
            font-weight: bold;
            border-bottom: 2px solid #005cbf;
        }
        .box{
            width: 75%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 20%;
        }
        table td{
            border: 1px solid black;
        }
        table tr{
            border: 1px solid black;
        }
        table {
            border: 1px solid black;
        }
        body{
            font-family: SimSun;
        }
    </style>
</head>
<body>
<div >
    <div style="position: relative;top:1%;margin:2%">
        <table width="640" border="0" align="center" cellpadding="0" cellspacing="1">
            <tbody>
            <tr>
                <td width="92" align="center" valign="middle">学    号</td>
                <td width="133" th:text="${session.student_status_msg.id}"> </td>
                <td width="110" align="center" valign="middle">姓    名</td>
                <td colspan="2" th:text="${session.student_status_msg.name}"> </td>
                <td width="103" rowspan="6"><img th:src="@{${session.student_status_msg.student_img_url}}" style="width: 100px;height: 139px;border: 0"/></td>
            </tr>
            <tr>
                <td align="center" valign="middle">曾 用 名</td>
                <td> </td>
                <td align="center" valign="middle">姓名拼音(英文名)</td>
                <td colspan="2"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">性    别</td>
                <td th:text="${session.student_status_msg.sex}"> </td>
                <td align="center" valign="middle">身份证号</td>
                <td colspan="2" th:text="${session.student_status_msg.id_num}"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">出生日期</td>
                <td th:text="${session.student_status_msg.birthday}"> </td>
                <td align="center" valign="middle">民    族</td>
                <td colspan="2" th:text="${session.student_status_msg.nation}"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">籍    贯</td>
                <td th:text="${session.student_status_msg.jiguan}"> </td>
                <td align="center" valign="middle">政治面貌</td>
                <td colspan="2" th:text="${session.student_status_msg.zz_face}"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">入党团时间</td>
                <td th:text="${session.student_status_msg.join_party_time}"> </td>
                <td align="center" valign="middle">出 生 地</td>
                <td colspan="2" th:text="${session.student_status_msg.birth_place}"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">户籍类别</td>
                <td> </td>
                <td align="center" valign="middle">宿 舍 号</td>
                <td width="102"> </td>
                <td width="100" align="center">宿舍电话</td>
                <td> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">港澳台代码</td>
                <td> </td>
                <td align="center" valign="middle">联 系 人</td>
                <td width="116"> </td>
                <td width="100" align="center">邮政编码</td>
                <td th:text="${session.student_status_msg.postal_code}"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">档案行号</td>
                <td> </td>
                <td align="center" valign="middle">联系地址</td>
                <td colspan="3" th:text="${session.student_status_msg.home_addr}"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">档案页号</td>
                <td> </td>
                <td align="center" valign="middle">联系电话</td>
                <td th:text="${session.student_status_msg.tel}"> </td>
                <td align="center" valign="middle">火车到达站</td>
                <td> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">招生季节</td>
                <td> </td>
                <td align="center" valign="middle">电子信箱</td>
                <td colspan="3" th:text="${session.student_status_msg.email}"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">准考证号</td>
                <td> </td>
                <td align="center" valign="middle">考 生 号</td>
                <td th:text="${session.student_status_msg.student_exam_id}"> </td>
                <td align="center">考生类别</td>
                <td th:text="${session.student_status_msg.student_type}"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">健康状况</td>
                <td> </td>
                <td align="center" valign="middle">考生特征</td>
                <td colspan="3"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">入学文化程度</td>
                <td> </td>
                <td align="center" valign="middle">生源省份</td>
                <td colspan="3" th:text="${session.student_status_msg.sy_province}"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">毕业类别</td>
                <td> </td>
                <td align="center" valign="middle">生源地区</td>
                <td colspan="3"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">科类代码</td>
                <td> </td>
                <td align="center" valign="middle">毕业中学</td>
                <td colspan="3"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">入学成绩</td>
                <td> </td>
                <td align="center" valign="middle">获知学校信息途径</td>
                <td> </td>
                <td align="center">特    长</td>
                <td> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">入学时间</td>
                <td> </td>
                <td align="center" valign="middle">录取专业</td>
                <td> </td>
                <td align="center" valign="middle">学    制</td>
                <td th:text="${session.student_status_msg.xuezhi}">2 </td>
            </tr>
            <tr>
                <td align="center" valign="middle">入学年份</td>
                <td> </td>
                <td align="center" valign="middle">入学方式</td>
                <td> </td>
                <td align="center">学习形式</td>
                <td> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">培养类别</td>
                <td> </td>
                <td align="center" valign="middle">培养对象</td>
                <td> </td>
                <td align="center">培养层次</td>
                <td th:text="${session.student_status_msg.cengci}"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">办学类型</td>
                <td> </td>
                <td align="center" valign="middle">办学形式</td>
                <td> </td>
                <td align="center">学习年限</td>
                <td th:text="${session.student_status_msg.xuezhi}"> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">其他办学形式</td>
                <td> </td>
                <td align="center" valign="middle">主修外语语种</td>
                <td> </td>
                <td align="center">主修外语级别</td>
                <td> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">院(系)/部</td>
                <td th:text="${session.student_status_msg.academy}"> </td>
                <td align="center" valign="middle">专业</td>
                <td th:text="${session.student_status_msg.major}"> </td>
                <td align="center" valign="middle">行政班级</td>
                <td th:text="${session.student_status_msg.stu_class}"> </td>
            </tr>
            <tr>
                <td align="center">辅 导 员</td>
                <td> </td>
                <td align="center" valign="middle">主修计算机 能力等级</td>
                <td> </td>
                <td align="center" valign="middle">辅修专业</td>
                <td> </td>
            </tr>
            <tr>
                <td align="center" valign="middle">辅修年级</td>
                <td> </td>
                <td align="center" valign="middle">备    注</td>
                <td colspan="3"> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>