<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="ViewPort" content="width=device-width,initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/templates/css/universal_style.css" rel="stylesheet">
    <link rel="stylesheet" href="/templates/css/nav.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/templates/js/nav.js"></script>
    <style>
        .header{
            height:54px;
            z-index: 99999;
            position: fixed;
            width: 100%;
            top: 0;
            background: #000;
            color: white;
        }
        .iframe-box{
            width: 85%;height: 92.5%;position: absolute;top:7%;left:15%;
        }
    </style>
    <script>
        //当直接关闭页面时，直接退出系统
        $(window).on('beforeunload',function(){
            logout();
        });

        function logout() {
            $.ajax({
                url:"/logout",
                dataType:"text",
                type:"GET",
                success:function () {
                    alert("退出成功！");
                    window.location.href="/to/login";
                },
                error:function (data) {
                    alert(data);
                }
            });
        }
        //防止退出登录后，使用后退功能还能返回到系统中
        history.go(1);
    </script>
</head>
<body>
<div class="header">
    <h3 style="text-align: center">
        XXXXX大学教务系统
    </h3>
    <a style="position: fixed;top: 3%;right: 0;" onclick="logout()" id="logout">退出</a>
</div>
<div class="nav" style="position: absolute;top: 7%;width: 15%;height: 93%;margin: 0">
    <div class="nav-top">
        <div id="icon" style="border-bottom:1px solid rgba(255,255,255,.1)">
            <img th:src="@{/templates/img/mini.png}">
        </div>
    </div>
    <ul>
        <li class="nav-item">
            <a href="#">
                <span>账号管理</span>
                <i class="my-icon nav-more"></i>
            </a>
            <ul>
                <li><a th:href="@{/to/home/personal_msg}" target="iframe">查看个人信息</a> </li>
            </ul>
            <ul>
                <li><a th:href="@{/to/home/update_personal_msg}" target="iframe">修改个人信息</a> </li>
            </ul>
            <ul>
                <li><a th:href="@{/to/reset_pwd_in_system}" target="iframe">修改账号密码</a></li>
            </ul>
            <ul>
                <li><a th:href="@{/to/change_binding_email}" target="iframe">更改绑定邮箱</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#">
                <span>个人学籍</span>
                <i class="my-icon nav-more"></i>
            </a>
            <ul>
                <li><a th:href="@{/to/home/student_status_msg}" target="iframe">查看个人学籍</a></li>
                <li><a th:href="@{/to/home/download_pdf}" target="iframe">下载学籍pdf</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#">
                <span>教学安排</span>
                <i class="my-icon nav-more"></i>
            </a>
            <ul>
                <li><a th:href="@{/to/home/student_timestable}" target="iframe">课程安排表</a> </li>
                <li><a th:href="@{/to/home/query_score}" target="iframe">个人成绩查询</a> </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#">
                <span>网上选课</span>
                <i class="my-icon nav-more"></i>
            </a>
            <ul>
                <li><a th:href="@{/to/home/pre_select_course}" target="iframe">预选</a> </li>
                <li><a th:href="@{/to/home/pre_select_course_result}" target="iframe">预选结果</a></li>
                <li><a th:href="@{/to/home/cancel_course}" target="iframe">退选</a></li>
                <li><a th:href="@{/to/home/select_course_result}" target="iframe">正选结果</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="iframe-box" id="iframe">
    <iframe style="width: 100%;height: 100%;border:0" name="iframe"></iframe>
</div>
</body>
</html>