<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="ViewPort" content="width=device-width,initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>

        function getTable(data) {
            for(var size=1;size<21;size++){
                $("#"+size).html("");
            }
            var size=data[1].length;
            if(size==0){
                alert("无查询结果！");
                return false;
            }
            var htmlStr="<td>1<input type='radio' name='selectedCourse' class='selectedCourse' value='1'</td>";
            var totalPage=data[0].totalPage;
            var temp=1;
            var li="<li><a href=\"#\">&laquo;</a></li>";
            for(var j=1;j<parseInt(totalPage)+1;j++){
                var temp1="<li><a href=\"#\" onclick=\"getCourseByPageNum(this)\">"+j+"</a></li>";
                li=li+temp1;
            }
            $(".pagination").html(li+"<li><a href=\"#\">&raquo;</a></li>");
            for(var i=0;i<data[1].length;i++){
                var id=data[1][i].id;
                var courseName=data[1][i].courseName;
                var teacherName=data[1][i].teacherName;
                var classHour=data[1][i].classHour;
                var teachClassHour=data[1][i].teachClassHour;
                var computerClassHour=data[1][i].computerClassHour;
                var classType=data[1][i].classType;
                var majorName=data[1][i].majorName;
                var credit=data[1][i].credit;
                htmlStr=htmlStr+"<td>"+id+"</td>"+"<td>"+courseName+"</td>"+"<td>"+teacherName+"</td>"+"<td>"+classHour+"</td>"+"<td>"+teachClassHour+"</td>"+"<td>"+computerClassHour+"</td>"+"<td>"+classType+"</td>"+"<td>"+majorName+"</td>"+"<td>"+credit+"</td>";
                $("#"+htmlStr.charAt(4)).html(htmlStr.replace(htmlStr.charAt(4),""));
                temp=parseInt(temp)+1;
                htmlStr="<td>"+temp.toString()+"<input type='radio' name='selectedCourse' class='selectedCourse' value="+"'"+temp.toString()+"'></td>";
            }
        }

        function getCourseByPageNum(a) {
            //移除所有点击效果
            $("li").removeClass("active");
            //点击页数后添加点击效果
            $(a).parent("li").addClass("active");
            //获取选择的页数
            var pageNum=$(a).text();
            var majorName=$("#hiddenMajorName").val();
            var teacherName=$("#hiddenTeacherName").val();
            var classType=$("#hiddenClassType").val();
            var courseName=$("#courseNameForSearch").val();
            $.ajax({
                url:"/admin/queryCourseByCondition",
                data:"majorName="+majorName+"&teacherName="+teacherName+"&classType="+classType+"&courseName="+courseName+"&pageNum="+pageNum,
                dataType:"json",
                type:"get",
                success:function (data) {
                    getTable(data);
                },
                error:function () {
                    alert("系统错误！请联系管理员");
                }
            })
        }

        function cleanAddCourseWindowInput() {
            $("#courseName").val();
            $("#teacherName").val();
            $("#classHour").val();
            $("#teachClassHour").val();
            $("#computerClassHour").val();
            $("input[name='classType']").removeAttr("checked");
            $("#majorName").val();
            $("input[name='credit']").removeAttr("checked");
        }

        function addCourse() {
            var courseName=$("#courseName").val();
            var teacherName=$("#teacherName").val();
            var classHour=$("#classHour").val();
            var teachClassHour=$("#teachClassHour").val();
            var computerClassHour=$("#computerClassHour").val();
            var classType=$("input[name='classType']:checked").val();
            var majorName=$("#majorName").val();
            var credit=$("input[name='credit']:checked").val();
            if(courseName!=""&&teacherName!=""&&classHour!=""&&teachClassHour!=""&&computerClassHour!=""&&classType!=undefined&&majorName!=""&&credit!=undefined){
                var info={courseName:courseName,teacherName:teacherName,classHour:classHour,teachClassHour:teachClassHour,computerClassHour:computerClassHour,classType:classType,majorName:majorName,credit:credit};
                $.ajax({
                    url:"/admin/insertCourse",
                    type:"post",
                    contentType:"application/json",
                    data:JSON.stringify(info),
                    dataType:"json",
                    success:function (data) {
                        if(data.message=="添加成功！"){
                            alert(data.message);
                            cleanAddCourseWindowInput();
                            $("#addCourseWindow").hide();
                        }else{
                            alert(data.message);
                        }
                    }
                })
            }else{
                alert("所有信息必须填写！");
                return false;
            }
        }

        function BeforeUpdateCourse() {
            var row=$(".selectedCourse:checked").val();
            if(row==undefined||row==null||row==""){
                alert("您还没有选择修改目标！");
                return false;
            }
            $("#"+row).each(function () {
                var courseId=$(this).children('td').eq(1).html();
                var courseName=$(this).children('td').eq(2).html();
                var teacherName=$(this).children('td').eq(3).html();
                var classHour=$(this).children('td').eq(4).html();
                var teachClassHour=$(this).children('td').eq(5).html();
                var computerClassHour=$(this).children('td').eq(6).html();
                var classType=$(this).children('td').eq(7).html();
                var majorName=$(this).children('td').eq(8).html();
                var credit=$(this).children('td').eq(9).html();
                var radioHtml;
                if(classType=="选修"){
                    radioHtml="<td><input type='radio' name='beforeUpdateClassType' value='选修' checked>选修<input type='radio' name='beforeUpdateClassType' value='必修'>必修";
                }else{
                    radioHtml="<td><input type='radio' name='beforeUpdateClassType' value='选修'>选修<input type='radio' name='beforeUpdateClassType' value='必修' checked>必修";
                }
                $("#hiddenData").html("<input type='hidden' id='hiddenRowNum' value='"+row+"'>" +
                    "<input type='hidden' id='hiddenCourseId' value='"+courseId+"'>" +
                    "<input type='hidden' id='hiddenCourseName' value='"+courseName+"'>" +
                    "<input type='hidden' id='hiddenTeacherName' value='"+teacherName+"'>" +
                    "<input type='hidden' id='hiddenClassHour' value='"+classHour+"'>"+
                    "<input type='hidden' id='hiddenTeacherClassHour' value='"+teachClassHour+"'>"+
                    "<input type='hidden' id='hiddenComputerClassHour' value='"+computerClassHour+"'>"+
                    "<input type='hidden' id='hiddenClassType' value='"+classType+"'>"+
                    "<input type='hidden' id='hiddenMajorName' value='"+majorName+"'>"+
                    "<input type='hidden' id='hiddenCredit' value='"+credit+"'>");
                $("#"+row).html(
                    "<td><button type='button' class='btn btn-success btn-sm' onclick='updateCourse(this)'value="+row+">确定</button>" +
                    "<button type='button' class='btn btn-info btn-sm' onclick='cancelUpdate()'>取消</button></td>" +
                    "<td><input type='text' class='form-control input-style' id='courseId' value='"+courseId+"' disabled='disabled'></td>"+
                    "<td><input type='text' class='form-control input-style' id='courseName' value='"+courseName+"' disabled='disabled'></td>"+
                    "<td><input type='text' class='form-control input-style' id='beforeUpdateTeacherName' value='"+teacherName+"'></td>"+
                    "<td><input type='text' class='form-control input-style' id='beforeUpdateClassHour' value='"+classHour+"'></td>"+
                    "<td><input type='text' class='form-control input-style' id='beforeUpdateTeachClassHour' value='"+teachClassHour+"'></td>"+
                    "<td><input type='text' class='form-control input-style' id='beforeUpdateComputerClassHour' value='"+computerClassHour+"'></td>"+
                    radioHtml+
                    "<td><input type='text' class='form-control input-style' id='beforeUpdateMajorName' value='"+majorName+"'></td>"+
                    "<td><input type='text' class='form-control input-style' id='beforeUpdateCredit' value='"+credit+"'></td>");
            })
            $("#updateMajor").attr("disabled",true);
            $("#addCourse").attr("disabled",true);
            $("#deleteMajor").attr("disabled",true);
        }

        function cancelUpdate() {
            var row=$("#hiddenRowNum").val();
            var courseId=$("#hiddenCourseId").val();
            var courseName=$("#hiddenCourseName").val();
            var teacherName=$("#hiddenTeacherName").val();
            var classHour=$("#hiddenClassHour").val();
            var teachClassHour=$("#hiddenTeachClassHour").val();
            var computerClassHour=$("#hiddenComputerClassHour").val();
            var classType=$("#hiddenClassType").val();
            var majorName=$("#hiddenMajorName").val();
            var credit=$("#hiddenCredit").val();
            $("#"+row).html("<td><input type='radio' name='selectedCourse' class='selectedCourse' value='"+row+"'></td>"+"<td>"+courseId+"</td>"+"<td>"+courseName+"</td>"+"<td>"+teacherName+"</td>"+"<td>"+classHour+"</td>"+
                "<td>"+teachClassHour+"</td>"+"<td>"+computerClassHour+"</td>"+"<td>"+classType+"</td>"+"<td>"+majorName+"</td>"+"<td>"+credit+"</td>");
            $("#updateMajor").attr("disabled",false);
            $("#addCourse").attr("disabled",false);
            $("#deleteMajor").attr("disabled",false);
        }

        function updateCourse(button) {
            if($("#beforeUpdateTeacherName").val()==""||$("#beforeUpdateClassHour").val()==""||$("#beforeUpdateTeachClassHour").val()==""||$("#beforeUpdateComputerClassHour").val()==""
                ||$("input[name='beforeUpdateClassType']:checked").val()==undefined||$("#beforeUpdateMajorName").val()==""||$("#beforeUpdateCredit").val()==""){
                alert("部分内容为空！");
                return false;
            }
            var row=$(button).val();
            $("#"+row).each(function (){
                var id=$(this).children('td').eq(1).find("#courseId").val();
                var teacherName=$(this).children('td').eq(1).find("#beforeUpdateTeacherName").val();
                var classHour=$(this).children('td').eq(1).find("#beforeUpdateClassHour").val();
                var teachClassHour=$(this).children('td').eq(1).find("#beforeUpdateTeachClassHour").val();
                var computerClassHour=$(this).children('td').eq(1).find("#beforeUpdateComputerClassHour").val();
                var classType=$(this).children('td').eq(1).find("input[name='beforeUpdateClassType']:checked").val();
                var majorName=$(this).children('td').eq(1).find("#beforeUpdateMajorName").val();
                var credit=$(this).children('td').eq(1).find("#beforeUpdateCredit").val();
                var info={id:id,teacherName:teacherName,classHour:classHour,teachClassHour:teachClassHour,computerClassHour:computerClassHour,classType:classType,majorName:majorName,credit:credit};
                $.ajax({
                    url:"/admin/updateCourse",
                    type:"post",
                    contentType:"application/json",
                    dataType:"json",
                    data: JSON.stringify(info),
                    success:function (data) {
                        if(data.message=="修改成功！"){
                            alert(data.message);
                            $("#"+row).html("<td><input type='radio' name='selectedCourse' class='selectedCourse' value='"+row+"'></td>"+"<td>"+id+"</td>"+"<td>"+courseName+"</td>"+"<td>"+teacherName+"</td>"+"<td>"+classHour+"</td>"+
                                "<td>"+teachClassHour+"</td>"+"<td>"+computerClassHour+"</td>"+"<td>"+classType+"</td>"+"<td>"+majorName+"</td>"+"<td>"+credit+"</td>");
                        }else{
                            alert("修改失败！请联系管理员！");
                            return false;
                        }
                        $("#updateMajor").attr("disabled",false);
                    },
                    error:function () {
                        alert("修改失败！请联系管理员！");
                    }
                })
            })
        }

        function deleteCourse() {
            var row=$(".selectedCourse:checked").val();
            if(row==undefined){
                alert("您还没选中需要删除的课程！");
                return false;
            }
            var courseId=$(this).children('td').eq(1).html();
            $.ajax({
                url:"/admin/deleteCourse",
                type:"get",
                data:"courseId="+courseId,
                dataType:"json",
                success:function (data) {
                    if(data.message=="删除成功！"){
                        alert(data.message);
                        searchCourseByCondition();
                    }else{
                        alert("删除失败！");
                    }
                },
                error:function () {
                    alert("system error");
                }
            })
        }

        function searchCourse() {
            var courseName=$("#courseNameForSearch").val();
            if(courseName==''){
                alert("课程名不能为空！");
            }else{
                $.ajax({
                    url:"/admin/queryCourseByCondition",
                    type:"get",
                    data:"courseName="+courseName+"&pageNum=1",
                    dataType:"json",
                    success:function (data) {
                        getTable(data);
                        $("#hiddenData").html("");
                        $("#updateCourse").attr("disabled",false);
                        $("#deleteCourse").attr("disabled",false);
                    },
                    error:function () {
                        alert("system error");
                    }
                })
            }
        }

        function searchCourseByCondition(){
            var majorName=$("#majorNameForSearch").val();
            var teacherName=$("#teacherNameForSearch").val();
            var classType=$("input[name='classTypeForSearch']:checked").val();
            if(classType==undefined){
                classType="";
            }
            var htmlStr="<input type='hidden' id='hiddenMajorName' value='"+majorName+"'><input type='hidden' id='hiddenTeacherName' value='"+teacherName+"'><input type='hidden' id='hiddenClassType' value='"+classType+"'>";
            $("#hiddenData").html(htmlStr);
            if(majorName!=''||teacherName!=''||classType!=undefined){
                $.ajax({
                    url:"/admin/queryCourseByCondition",
                    type:"get",
                    data:"majorName="+majorName+"&teacherName="+teacherName+"&classType="+classType+"&pageNum=1",
                    dataType:"json",
                    success:function (data) {
                        getTable(data);
                        cleanScreenConditionWindow();
                        $("#screenConditionWindow").hide();
                        $("#updateCourse").attr("disabled",false);
                        $("#deleteCourse").attr("disabled",false);
                    },
                    error:function () {
                        alert("system error");
                    }
                })
            }else{
                alert("您还没选择筛选条件");
                return false;
            }
        }

        function cleanScreenConditionWindow(){
            $("#majorNameForSearch").val("");
            $("#teacherNameForSearch").val("");
            $("input[name='classTypeForSearch']").removeAttr("checked");
        }

    </script>
    <style>

        .div1{
            position: absolute;top: 0%;left: 0%;
            height: 100%;width: 100%;
            background-color:rgba(0,0,0,0.3);
            z-index: 100;
            display: none;
        }

        .div2{
            width: 400px;height: 230px;
            background-color: white;
            position: absolute;top:17%;left: 30%;
            z-index: 1000;
            border-radius: 10px;
        }

        .input-style{
            width:150px;
            padding:10px 12px 10px 10px;
            background-color: #fffde3;
        }

        table tbody td{
            border: 1px solid silver;
            text-align: center;
            height: 20px;
        }

        table tbody tr{
            border: 1px solid silver;
        }

        table th{
            border-left: 1px solid silver;
            border-right: 1px solid silver;
            text-align: center;
            height: 30px;
            background-color: lightgray;
        }

    </style>
</head>
<body>
<div class="container">
    <div style="display: none" id="hiddenData"></div>
    <div class="div1" id="addCourseWindow">
        <div class="div2" style="height: 580px;width: 500px">
            <div class="modal-header">
                <button type="button" onclick="$('#addCourseWindow').hide();cleanAddCourseWindowInput()" class="close">&times;</button>
                <h4 class="modal-title">添加课程</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label>课程名称</label>
                    <input type="text" class="input-style form-control" placeholder="课程名称" id="courseName">
                </div>
                <div>
                    <label>授课教师名</label>
                    <input type="text" class="input-style form-control" placeholder="授课教师名" id="teacherName">
                </div>
                <div>
                    <label>学时</label>
                    <div class="input-group">
                        <input type="text" class="input-style form-control" placeholder="学时(阿拉伯数字)" id="classHour">
                        <span class="input-group-addon">学时</span>
                    </div>
                </div>
                <div>
                    <label>授课学时</label>
                    <div class="input-group">
                        <input type="text" class="input-style form-control" placeholder="授课学时(阿拉伯数字)" id="teachClassHour">
                        <span class="input-group-addon">学时</span>
                    </div>
                </div>
                <div>
                    <label>上机学时</label>
                    <div class="input-group">
                        <input type="text" class="input-style form-control" placeholder="上机学时(阿拉伯数字)" id="computerClassHour">
                        <span class="input-group-addon">学时</span>
                    </div>
                </div>
                <div>
                    <label>课程类型</label>
                    <input type="radio" name="classType" value="选修">选修
                    <input type="radio" name="classType" value="必修">必修
                </div>
                <div>
                    <label>所属专业</label>
                    <input type="text" class="input-style form-control" placeholder="所属专业名" id="majorName">
                </div>
                <div>
                    <label>学分</label>
                    <div class="input-group">
                        <input type="radio" name="credit" value="1.0">1.0
                        <input type="radio" name="credit" value="2.0">2.0
                        <input type="radio" name="credit" value="3.0">3.0
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addCourse()">确定</button>
            </div>
        </div>
    </div>
    <div class="div1" id="screenConditionWindow">
        <div class="div2" style="height: 290px">
            <div class="modal-header">
                <button type="button" onclick="$('#screenConditionWindow').hide();cleanScreenConditionWindow();" class="close">&times;</button>
                <h4 class="modal-title">筛选</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label>专业名</label>
                    <input class="input-style form-control" placeholder="专业名" id="majorNameForSearch">
                </div>
                <div>
                    <label>教师名</label>
                    <input class="input-style form-control" placeholder="专业名" id="teacherNameForSearch">
                </div>
                <div>
                    <label>课程类型</label>
                    <input type="radio" name="classTypeForSearch" value="选修">选修
                    <input type="radio" name="classTypeForSearch" value="必修">必修
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="searchCourseByCondition()">确定</button>
            </div>
        </div>
    </div>
    <div style="position:absolute;top: 1%;left: 10%;width: 85%;height: 90%">
        <div style="height: 50px;width: 100%;background-color:lightgray">
            <div class="col-lg-7" style="float: left">
                <div style="margin: 8px">
                    <label style="float: left;margin: 8px">课程名</label>
                    <input class="input-style form-control" placeholder="课程名" id="courseNameForSearch">
                </div>
            </div>
        </div>
        <div style="width: 100%;height: 50px">
            <div class="col-lg-7" style="float: left;margin: 8px" >
                <button type="button" class="btn btn-secondary"  onclick="$('#screenConditionWindow').show()" style="margin-left: 8px">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>筛选</span>
                </button>
                <button type="button" class="btn btn-primary" id="searchCourse" onclick="searchCourse()" style="margin-left: 8px">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>查询</span>
                </button>
                <button type="button" class="btn btn-success" id="addCourse" onclick="$('#addCourseWindow').show()" style="margin-left: 8px">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>新增</span>
                </button>
                <button type="button" class="btn btn-warning delete" id="updateCourse" onclick="BeforeUpdateCourse()" disabled="disabled" style="margin-left: 8px">
                    <i class="glyphicon glyphicon-wrench "></i>
                    <span>修改</span>
                </button>
                <button type="button" class="btn btn-danger delete" id="deleteCourse" onclick="deleteCourse()" disabled="disabled" style="margin-left: 8px">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>删除</span>
                </button>
            </div>
        </div>
        <table style="width: 100%;height: 540px;" id="CourseTable">
            <thead style="background-color: white">
            <tr>
                <th>&nbsp;&nbsp;</th>
                <th>课程编号</th>
                <th>课程名</th>
                <th>授课教师名</th>
                <th>学时</th>
                <th>授课学时</th>
                <th>上机学时</th>
                <th>课程类型</th>
                <th>所属专业</th>
                <th>学分</th>
            </tr>
            <tbody id="tbody1">
            <tr id="1"></tr>
            <tr id="2"></tr>
            <tr id="3"></tr>
            <tr id="4"></tr>
            <tr id="5"></tr>
            <tr id="6"></tr>
            <tr id="7"></tr>
            <tr id="8"></tr>
            <tr id="9"></tr>
            <tr id="10"></tr>
            <tr id="11"></tr>
            <tr id="12"></tr>
            <tr id="13"></tr>
            <tr id="14"></tr>
            <tr id="15"></tr>
            <tr id="16"></tr>
            <tr id="17"></tr>
            <tr id="18"></tr>
            <tr id="19"></tr>
            <tr id="20"></tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="10">
                    <ul class="pagination" style="float: right;margin-bottom: 0px">
                    </ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>