<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="ViewPort" content="width=device-width,initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .border{
            margin: 0 2%;
        }
        .line{
            font-size: 14px;
            font-weight: bold;
            border-bottom: 2px solid #005cbf;
        }
        .input-style{
            width:150px;
            padding:10px 12px 10px 10px;
            background-color: #fffde3;
        }
    </style>
    <script>

        //禁止后退
        history.go(1);

        $().ready(function (){
          alert("修改密码成功后，将会自动退出系统！请用户注意！");
        });

        function checkPwd(){
            if($("#password").val()==""||$("#password2").val()==""){
                alert("您还有信息还没填写");
                return false;
            }
            if($("#password").val()==$("#password2").val()){
                return true;
            }
        }

        function resetPassword(){
            if(checkPwd()){
                $.ajax({
                    url:"/resetPwd",
                    type:"post",
                    data:"password="+$("#password").val(),
                    success:function (data) {
                        alert(data.message);
                        var a=$("#logout", parent.document);
                        if(a.text()=="退出"){
                            a.click();
                        }else{
                            window.location.href="/logout";
                        }
                    },
                    error:function () {
                        alert("系统错误!修改失败！");
                    }
                })
            }
        }

    </script>
</head>
<body>
<div class="container">
    <div class="border line">
        重置账号密码
    </div>
    <div style="width: 500px;height:400px;position: absolute;left: 40%;top: 25%;">
        <form>
            <div style="position:relative;left: 25%;margin-top:30px">
                <label style="float: left;margin-top: 7px">请输入密码：</label>
                <input type="password" class="form-control input-style" style="position: relative;left: 5%" placeholder="密码" id="password" name="password">
            </div>
            <div style="position:relative;left: 25%;margin-top: 30px">
                <label style="float: left;margin-top: 7px">请再次输入密码：</label>
                <input type="password" class="form-control input-style" placeholder="密码" id="password2" name="password2">
            </div>
            <div style="position: relative;left: 40%;margin-top: 50px">
                <button type="button" class="btn btn-primary btn-lg" onclick="resetPassword()">确定</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>