<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.school_system.demo.dao.BaseDao">
    <select id="getUserByName" resultType="user" parameterType="String">
        select * from user where username=#{username}
    </select>
    <insert id="resetPwdByName" parameterType="String">
        update user set password=#{newPwd},salt=#{salt} where username=#{username}
    </insert>
</mapper>