<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.school_system.demo.dao.StudentDao">
    <select id="getStudentById" parameterType="string" resultType="student">
        select * from stu_personal_msg where id=#{id}
    </select>
    <update id="updateInfoById" parameterType="java.util.Map">
        update stu_personal_msg set
        <foreach item="value" index="key" collection="map" separator=",">
            <if test="key!='id'">
                ${key}=#{value}
            </if>
        </foreach>
        where
        <foreach item="value" index="key" collection="map" separator=",">
            <if test="key=='id'">
                id=#{value}
            </if>
        </foreach>
    </update>
    <select id="getStudentStatusMsgId" parameterType="string" resultType="studentStatusMsg">
        select * from student_status_msg where id=#{id}
    </select>
    <select id="getTimestableByStudentClass" resultType="timestable">
        select * from timestable where class_name=#{studentClass}
    </select>
</mapper>