<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.school_system.demo.dao.StudentDao">
    <select id="getStudentById" parameterType="string" resultType="student">
        select * from stu_personal_msg where id=#{id}
    </select>
    <update id="updateInfoById" parameterType="java.util.Map">
        update stu_personal_msg set
        <foreach item="value" index="key" collection="map" separator=",">
            <if test="key!='id'">
                ${key}=#{value}
            </if>
        </foreach>
        where
        <foreach item="value" index="key" collection="map" separator=",">
            <if test="key=='id'">
                id=#{value}
            </if>
        </foreach>
    </update>
    <select id="getStudentStatusMsgId" parameterType="string" resultType="studentStatusMsg">
        select * from student_status_msg where id=#{id}
    </select>
    <resultMap id="timestableResult" type="com.example.school_system.demo.pojo.Timestable">
        <id property="id" column="timestable_id"></id>
        <result property="className" column="class_name"></result>
        <result property="time" column="time"></result>
        <result property="classroomName" column="classroom_name"></result>
        <result property="weeks" column="weeks"></result>
        <result property="term" column="term"></result>
        <result property="notice" column="notice"></result>
        <association property="course" javaType="com.example.school_system.demo.pojo.Course">
            <id property="id" column="course_id"></id>
            <result property="courseName" column="course_name"></result>
            <result property="teacherName" column="teacher_name"></result>
            <result property="courseName" column="course_name"></result>
            <result property="classHour" column="class_hour"></result>
            <result property="teacherClassHour" column="teacher_class_hour"></result>
            <result property="computerClass" column="computer_class"></result>
            <result property="classType" column="class_type"></result>
            <result property="majorName" column="major_name"></result>
        </association>
    </resultMap>
    <select id="getTimestableByStudentClass" parameterType="string" resultMap="timestableResult">
        select course.id,class_name,course.teacher_name,course.course_name,time,classroom_name,weeks,term,notice from course
        INNER JOIN
        timestable on timestable.course_id=course.id where term=#{term} and timestable.class_name=#{studentClass}

    </select>

    <resultMap id="CourseResult" type="com.example.school_system.demo.pojo.Course">
        <id property="id" column="id"></id>
        <result property="courseName" column="course_name"></result>
        <result property="teacherName" column="teacher_name"></result>
        <result property="classHour" column="class_hour"></result>
        <result property="teachClassHour" column="teach_class_hour"></result>
        <result property="computerClassHour" column="computer_class_hour"></result>
        <result property="classType" column="class_type"></result>
        <result property="majorName" column="major_name"></result>
        <association property="major" javaType="com.example.school_system.demo.pojo.Major">
            <id property="id" column="major.id"></id>
            <result property="majorName" column="major_name"></result>
            <result property="peopleNum" column="people_num"></result>
            <result property="academyName" column="academy_name"></result>
        </association>
    </resultMap>
    <select id="getCourseByMajorName" resultMap="CourseResult" parameterType="string">
        SELECT * FROM course right outer join major on course.class_type="选修"and course.major_name=#{majorName}
    </select>
    <select id="getCourseByCourseId" parameterType="string" resultType="course">
        select * from course where id=#{courseId}
    </select>
</mapper>