<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.school_system.demo.dao.TimestableDao">

    <select id="getAllClassId" resultType="string">
        select DISTINCT id from major_class
    </select>

    <select id="getAllClassRoomName" resultType="string">
        select DISTINCT classroom_name from classroom
    </select>

    <resultMap id="timestableResult" type="com.example.school_system.demo.pojo.Timestable">
        <id property="id" column="timestable_id"></id>
        <result property="className" column="class_name"></result>
        <result property="time" column="time"></result>
        <result property="classroomName" column="classroom_name"></result>
        <result property="weeks" column="weeks"></result>
        <result property="term" column="term"></result>
        <result property="notice" column="notice"></result>
        <association property="course" javaType="com.example.school_system.demo.pojo.Course">
            <id property="id" column="course_id"></id>
            <result property="courseName" column="course_name"></result>
            <result property="teacherName" column="teacher_name"></result>
            <result property="courseName" column="course_name"></result>
            <result property="classHour" column="class_hour"></result>
            <result property="teacherClassHour" column="teacher_class_hour"></result>
            <result property="computerClass" column="computer_class"></result>
            <result property="classType" column="class_type"></result>
            <result property="majorName" column="major_name"></result>
        </association>
    </resultMap>

    <select id="getClassTimestable" resultMap="timestableResult" parameterType="string">
       select timestable.id,timestable.class_name,course.teacher_name,course.course_name,time,classroom_name,weeks,term,notice
          from timestable,major_class,course
					where timestable.course_id=course.id and
					timestable.class_name in (select major_class.class_name from major_class where id=#{classId})
    </select>

    <select id="getClassRoomTimestable" resultMap="timestableResult" parameterType="string">
        select timestable.id,timestable.class_name,course.teacher_name,course.course_name,time,classroom_name,weeks,term,notice
          from timestable inner JOIN course on
					timestable.course_id=course.id and classroom_name=#{classroomName}
    </select>

    <select id="getTimestableByTeacherNameAndTerm" resultMap="timestableResult" parameterType="string">
        select timestable.id,timestable.class_name,course.teacher_name,course.course_name,time,classroom_name,weeks,term,notice
          from timestable,course
					where timestable.course_id=course.id and
					timestable.course_id in (select course.id from course where teacher_name=#{teacherName}) and term=#{term}
    </select>

    <insert id="insertBatchTimestable" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into timestable(class_name,course_id,time,classroom_name,weeks,term,notice) values
        <foreach collection="timestableList" item="timestable" separator=",">
            (#{timestable.className},#{timestable.courseId},#{timestable.time},#{timestable.classroomName},#{timestable.weeks},#{timestable.term},#{timestable.notice})
        </foreach>
    </insert>

    <select id="getAllTerm" resultType="string">
        select DISTINCT term from timestable
    </select>

</mapper>